{% extends 'layout.html' %}
{% block title %}Cart{%endblock%}
{%block tt%} 
  {% if empty %}
    <h1>Su carrito está vacío  <a href="{% url 'index' %}" class="badge badge-secondary">Visitar Menu</a></h1>
  {% else %}
  {%endif%}
{%endblock%}
{% block content %}
{% if not empty %}
<center><h2>{{request.user}}'s Cart</center></h2>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Precio</th>
        <th scope="col"><a class="btn btn-secondary" data-toggle="tooltip"  title="Removes all items from cart" href="{% url 'empty_cart' %}">Carro vacio</a></th>
      </tr>
    </thead>
    <tbody>
    {% for cart_item in cart_items %}
        <tr>
            <th scope="row">
            {{cart_item.item_detail}}
                {% if cart_item.topping.all %}
                <span class="text-muted">[
                {%for topping in cart_item.topping.all %}
                {{topping.name}} 
                {%endfor%}
                ]</span>
                {%endif%}
            </th>
            <td>{{cart_item.size}}</td>
            <td>${{cart_item.price}}</td>
            <td><a href="{% url 'remove_item' cart_item.pk %}">Eliminar orden</a></td>
        </tr>
    {%endfor%}
    </tbody>
</table><br><br>
<div class="jumbotron">
  <h1 class="display-5">Total: ${{cart.total}}</h1>
  <p class="lead">Cantidad pagable</p>
  <hr class="my-4">
  <p>Haga clic aquí para confirmar y realizar su pedido</p>
  <a class="btn btn-primary btn-lg" href="{% url 'order' %}" role="button">Orden Nueva</a>
</div>
{%endif%}
{%endblock%}