{% extends 'layout.html' %}
{% block title %} 
    Comparativa
{% endblock %}
{% block content %}
<style>
    p{
        padding: 1%;
    }
    h1{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        padding: 1%;
    }
    ul{
        font-size: 15px;    }
</style>
<center><h2>Siciliana vs. Regular</h2></center>
<br>
<h1>Pizza siciliana</h1>
<p>Nuestra pizza siciliana es una pizza de masa gruesa o de plato hondo. Los vendemos en tamaños de 9 o 15 porciones.</p>
<ul>El tamaño de 9 rebanadas es de 16 "x 16" y se alimentará de 3 a 5 personas.</ul>
<ul>El tamaño de 15 porciones es de 28 "x 16", viene en 2 cajas de pizza grandes y puede alimentar de 6 a 9 personas.</ul>  
<h1>Pizza Regular</h1>
<P>Nuestra pizza regular es una pizza napolitana o de masa fina. Vienen en 2 tamaños: pequeño (12 "de diámetro) y grande (16" de diámetro). El pequeño es adecuado para 1 o 2 personas, mientras que el grande alimenta de 2 a 4 personas.</P>
<h1>Sin gluten</h1>
<p>Ahora ofrecemos pizza sin gluten. Viene en una base delgada redonda de 10 "que cocinamos bajo pedido. Puede obtenerla con cualquier aderezo y se tarda unos 20 minutos en prepararla.</p>
<ol>_____________________________________________________________________________________________________________________________</ol>
<br>
<p>Podemos hacer cualquiera de nuestras pizzas en unos 10 a 15 minutos, y se pueden comer en nuestro comedor o para llevar.</p>
<center><h2>Ah, y recuerda siempre:</h2></center>
<center><h2>¡Come más pizza!♥</h2></center>
{% endblock %}