{% extends 'layout.html' %}
{% block title %} 
    Contacto
{% endblock %}
{% block content %}
<style>
    p{
        padding: 1%;
    }
</style>
<center><h1>Contacto</h1></center>
<p>Nuestros números de teléfono son 617-876-4897 o 617-876-0012</p>
<br>
<p>Nuestro número de fax es 617-661-6188</p>
<br>
<p>Encuéntrenos en Twitter @PinocchiosPizz</p>
<br>
<p>Y Instagram @ pinocchiospizza1</p>
<br>
<p>Nuestra dirección de correo es:</p>
<br>
<br>
<p>Pizza de Pinocho</p>
<p>74 Winthrop Street</p>
<p>Cambridge, MA 02138</p>
<br>
<br>
<p>Si tiene alguna pregunta o comentario o le gustaría estar en nuestra lista de correo electrónico, puede enviarnos un correo electrónico a pinocchiospizza1@gmail.com</p>
{% endblock %}