{% extends 'layout.html' %}
{% block title %} 
    Horarios
{% endblock %}
{% block content %}
<style>
    p{
        padding: 1%;
    }
</style>
<center><h1>Nuestro horario de atención es</h1></center>
<p>domingo	12 del mediodía - 11 de la noche</p>
<p>Lunes jueves	11 a. M. - 11 p. M.</p>
<p>Viernes sabado	11 a. M. - 11 p. M.*</p>
<br>
<br>
<p>Ahora tenemos asientos en el interior limitados disponibles todo el día, pero después de las 9:30 p. M., Cambiamos a comida para llevar solo con solo 1 cliente permitido en la tienda a la vez.</p>

{% endblock %}