{% extends 'layout.html' %}
{% block title %}Mis ordenes{%endblock%}
{%block tt%} 
  {% if empty %}
    <h1>¡Aún no se han realizado pedidos! <a href="{% url 'index' %}" class="badge badge-secondary" style="background-color: chocolate;">Visitar Menú</a></h1>
  {% else %}
  <center><h2>{{request.user}}'s Pedidos</center></h2>
  {%endif%}
  {%endblock%}
  {%block content%}
  {% if not empty %}
{% for key,value in dic.items %}
{% if key.status == 'Completed' %}
<table class="table table-sm">
{%else%}
<table class="table table-bordered">
{%endif%}
    <thead class="thead-dark">
        <tr>
          <th scope="col">Pedido #{{key.pk}} [ {{key.status}} ]</th>
          <th scope="col">Fecha de pedido: {{key.date}}</th>
          <th scope="col">Total: ${{key.total}}</th>
        </tr>
    </thead>
    <thead class="thead">
      <tr>
        <th scope="col">Pedido</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
    {% for cart_item in value %}
        <tr>
            <th scope="row">
            {{cart_item.item_detail}}
                {% if cart_item.topping.all %}
                <span class="text-muted">[
                {%for topping in cart_item.topping.all %}
                {{topping.name}} 
                {%endfor%}
                ]</span>
                {%endif%}
            </th>
            <td>{{cart_item.size}}</td>
            <td>${{cart_item.price}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table><br><br>
{%endfor%}
{%endif%}
{%endblock%}
