{% extends 'layout.html' %}
{% block content %}

<!-- Profile -->
<div class="profile">
	<img src="../../static/pizza.jpg"> <!--{{ user.profile.image.url }} -->
	<h2>@{{ user.username}} {%if request.user.is_staff %} - Administrador {%endif%}</h2>
	<p>Esta seccion es unicamente para los administradores</p>
	<h2><a href="/admin" class="badge badge-secondary" style="background-color: chocolate;">Admin Panel</a></h2>
</div>

<!-- Follow items -->
<div class="follow">
	<div>
		<h5>Anuncios</h5>
		<p>{{ user.posts.count }}</p>
	</div>
</div>


<!-- block super -->
{% endblock %}