{% extends 'layout.html' %}
{% block title %}Ordenes pendientes{%endblock%}
{%block tt%} 
  {% if empty %}
    <h1> Ordenes pendientes <span class="badge badge-secondary" style="color: black;">0</span></h1>
  {% else %}
  Todas las órdenes pendientes
  {%endif%}
  {% if not empty %}
{% for key,value in dic.items %}
<table class="table table-bordered">
    <thead class="thead-dark">
        <tr>
          <th scope="col">Orden #{{key.pk}} 
          <a href="{% url 'markcomplete' key.pk %}" class="btn btn-outline-success"> Marcar como completado</a>
          </th>
          <th scope="col">Estado actual: [ {{key.status}} ] Fecha de pedido: {{key.date}} Usuario: {{key.user}} </th>
          <th scope="col">Total: ${{key.total}}</th>
        </tr>
    </thead>
    <thead class="thead">
      <tr>
        <th scope="col">Producto</th>
        <th scope="col">Tamaño</th>
        <th scope="col">Precio</th>
      </tr>
    </thead>
    <tbody>
    {% for cart_item in value %}
        <tr>
            <th scope="row">
            {{cart_item.item_detail}}
                {% if cart_item.topping.all %}
                <span class="text-muted">[
                {%for topping in cart_item.topping.all %}
                {{topping.name}} 
                {%endfor%}
                ]</span>
                {%endif%}
            </th>
            <td>{{cart_item.size}}</td>
            <td>${{cart_item.price}}</td>
        </tr>
    {%endfor%}
    </tbody>
</table><br><br>
{%endfor%}
{%endif%}
{%endblock%}